@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.background-color-login {
  background: linear-gradient(45deg, #ffc40067, #ff583374, #ff5833bc);
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
